:root {
    --background-color : #ff4c68  ;
    --main-padding : 100px ;
    --padding-2 : 50px ;
}
body {
    font-family: 'Montserrat', sans-serif;
}
@media (min-width:992px) {
    .container {
        max-width: 1064px;
    }
}
/* color */
.colored-section {
    background-color: var(--background-color);
    color: white;
}
.white-section {
    background-color:white ;
}
.white-section p {
    color: #8f8f8f;
}
/* start nav  */
.navbar {
    padding: 2rem 0;
}
.navbar-brand {
    font-family: "Ubuntu";
    font-weight: bold;
}
.nav-item {
    padding: 0px 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
}
.navbar-collapse {
    flex-grow:initial;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 3.5rem;
        padding-left: 0.5rem;
    }
    .navbar {
        padding: 4.5rem 0;
    }
}
/* end nav  */
/* start landing  */
h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.5;
}
.landing .container .row .col-lg-6  img {
    max-width: 44%;
    margin: auto;
    display: block;
}
.bootstrap-button {
    margin: 5px;
}
@media (min-width:992px) {
    h1 {
        font-size: 3rem;
       text-align: start;
    }
    .bootstrap-button {
        margin: 5% 3% 5% 0%;
    }
    .landing .container .row .col-lg-6  img {
        width: 287px;
        position: absolute;
        transform: rotate(25deg);
        -webkit-transform: rotate(25deg);
        -moz-transform: rotate(25deg);
        -ms-transform: rotate(25deg );
        -o-transform: rotate(25deg );
}
    .landing {
        /* height: 500px; */
        overflow: hidden;
    }
}
/* end landing  */
/* start icon section  */
.icon-section {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    text-align: center;
}
.icon-section .row > div {
    padding: 10px 47px;
}
.icon-section i {
    margin-bottom: 20px;
    color: rgba(255, 0, 0, 0.493);
    font-size: 80px;
    display: block;
}
.icon-section i:hover {
    color:  var(--background-color) ;
}
.icon-section h2 {
    font-size: 27px;
    font-weight: bold;
}
@media (min-width:992px) {
    .icon-section {
        padding-top: var(--main-padding);
        padding-bottom: var(--main-padding);
    }
    .icon-section .row > div {
        padding: 47px;
    }
}
/* end icon section  */
/* start carousel section  */
.carousel-section .person {
    display: block;
    margin: 0 auto 50px;
    width: fit-content;
}
.carousel {
    padding-left: 20px;
    padding-right: 20px;
}
.carousel-section .person img {
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    margin: auto;
}
.carousel-section .person p {
    float: right;
    margin-top: 18px;
    margin-left: 20px;
    font-size: 9px;
}
.carousel-section .carousel-item > p {
    float: right;
    margin-top: 18px;
    margin-left: 20px;
    font-size: 13px;
    text-align: center;
}
.carousel-img {
    width: 100%;
    margin-bottom: 50px;
}
.carousel-section .container {
     padding: 0 20px;;
}
@media (min-width:768px) {
    .carousel-section .carousel-item > p {
        font-size: 25px;
    }
    .carousel-section .person img {
        width: 100px;
    }
    .carousel-section .person p {
        margin-top: 39px;
        font-size: 17px;
    }
}
@media (min-width:992px) {
    .carousel-section .carousel-item > p {
        font-size: 30px;
    }
    .carousel-section .person p {
        font-size: 16px;
    }
    .carousel-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .carousel-section .container {
        padding: 50px;
    }
    .carousel-section .person img {
        width: 100px;
    }
    .carousel-section .person p {
        margin-top: 39px;
        font-size: 17px;
    }
}
.carousel-img-section  {
    margin-top: 50px;
}

/* end carousel section  */
/* start price section  */
.price {
    padding-top: var(--padding-2);
    padding-bottom: var(--padding-2);
}
.price .card {
    width: 80%;
    display: block;
    margin: auto;
    text-align: center;
}
@media (min-width:768px) {
    .price .card {
        width: 93%;
   }
}
@media (min-width: 992px) {
    .price .container {
         max-width: 1204px; 
    }
    .price .card {
         width: 93%;
    }
}
.price h2 {
    font-weight: bold;
    
}
.price p {
    font-size: 15px;
    color: black;
    line-height: 1.7;
    margin-bottom: 50px;
    margin-top: 14px;
}
.price h5 {
    font-weight: 700;
    font-size: 30px;
}
.price .card-header {
    font-weight: bold;
    font-size: 27px;
}
.price button {
    font-size: 19px;
    display: block;
    margin: auto;
}
.price .card-body {
    padding: 20px;
}
/* end price section  */
/* start download section  */
 .download {
    padding-top: var(--padding-2);
    padding-bottom: var(--padding-2);
    text-align: center;
 }
 .download p {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}
.download button {
    padding: 10px;
    font-size: 12px;
}
 @media (min-width: 992px) {
    .download p {
        font-size: 50px;
    }
    .download button {
        padding: 10px;
        font-size: 20px;
    }
 }
/* end downlaod section  */
/* start footer  */
footer {
    text-align: center;
    padding-bottom: 250px;
    padding-top: 50px;
}
footer i {
    font-size: 29px;
    margin: 20px;  
}
footer p {
    color: black;
}
footer a {
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
/* end footer  */